.navbar-header-fb{
	background-color: #040000;
	border-color: #F74343;
}
.my-img{
	width: 60px;
	height: 60px;
}
.my-btn{
	color: #FFFFFF;
	border-color: #FFFFFF;
	background-color: #F74343;		
}

.my-row{
	color: #FFFFFF;
	border-color: #FFFFFF;
	background-color: #F74343;		
}
.my-img-int{
	width: 200px;
	height: 200px;
}
.my-panel{
	color: #FFFFFF;
	border-color: #FFFFFF;
	background-color: #F74343;		
}
.mi-titulo{
	color: #F74343;	
	
}