<html>
<head>
	<meta charset="utf-8">
	<title>ROL STATS</title>
</head>
<body>
	<form id="addGame"method="post">
		
		Name: <input type="text" name="name" id="edName" size="80"
			value="{{name}}"
 			style="border:none;background-color:lightgray"/>
		<br>
		id: <input type="number" name="id" id="edid" size="80"
			value="{{id}}"
 			style="border:none;background-color:lightgray"/>
		<br>
		posicion: <input type="text" name="posicion" id="edid" size="80"
			value="{{posicion}}"
 			style="border:none;background-color:lightgray"/>
		<br>
		
		<input type="submit" value="guardar"/>
		</form>
</body>
</html>