<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="template.css">
	<title>partida</title>
</head>
<body>
<div id="dvHeader">
<p>
<table width="100%">
	<tr>
		<td width="80%"><b>Logout</b> <a href="{{access_link}}">{{user_name}}</a></td>
		<td width="50%">rol</td>
	</tr>
</table>
</p>
</div>
<div id="dvPartidas">
    {% for partida in partidas %}
			<div id="tblPartidas">
			
			<i><big>PARTIDO:{{partida.name}}</big>
			</i>
			
			<a href="/game?name={{partida.name}}"><img width="50px" height="20px" title="select" class="styled-button" /></a>
			</div>
    {% endfor %}
</div>
<div id="dvAdd">
	<a href="/addGame"><img width="80px" height="20px" title="addGame" class="styled-button" /></a>
</div>
<div id="dvAddTeam">
	<a href="/addGame"><img width="80px" height="20px" title="addTeam" class="styled-button" /></a>
</div>
<div id="dvjugadores">
    {% for jugador in jugadores %}
			<div id="tbljugadores">
			
			<i><big>JUGADOR:{{jugador.name}}</big>
			</i>
			
			<a href="/player?name={{jugador.name}}"><img width="50px" height="20px" title="select" class="styled-button" /></a>
			</div>
    {% endfor %}
</div>
<div id="dvAddPlayer">
	<a href="/addGame"><img width="80px" height="20px" title="addPlayer" class="styled-button" /></a>
</div>
</body>
</html>