<html>
<head>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADD GAME</title>
 
    <!-- CSS de Bootstrap -->
    <link type="text/css"href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
 	<link type="text/css"href="css/header.css" rel="stylesheet" media="screen">
    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
</head>
<body>
<nav class="navbar navbar-default">

  		<div class="container-fluid navbar-header-fb">
  			<div class="row">
    			<div class="col-md-1 navbar-header-fb">
      				<a class="navbar-brand navbar-header-fb" href="/">
        				<img class="my-img" alt="Brand" src="img/ico.png">
      				</a>
      			</div>
      			<div class="col-md-1" id="dvAdd">
					<a class="btn my-btn " href="/addGame">Añadir Partida</a>
				</div>
				<div class="col-md-1" id="dvAddTeam">
					<a class="btn my-btn" href="/addTeam">Añadir Equipo</a>
				</div>
				<div class="col-md-1"id="dvAddPlayer">
					<a class="btn my-btn" href="/addPlayer"> Añadir Jugador</a>
				</div>	
      			<div class="col-md-1 col-md-offset-4">
      				<td width="80%"><b>Logout</b> <a href="{{access_link}}">{{user_name}}</a></td>
      			</div>
      			
      		
    		</div>
  		</div>
</nav>
<div class="container">
	<div class="row">
		<br>
		<div class="col-md-4">
			<form id="addGame"method="post">
				<h2>NUEVA PARTIDA</h2>
				<label for="edName">Nombre: </label>
				<input class="form-control" type="text" name="name" id="edName" size="80"
					value="{{name}}"
			 		style="border:none;background-color:lightgray"/>
				<br>
				<label for="equipoA">Equipo A: </label>
				<select class="form-control" type="text" name="equipoA" id="equipoA" value="{{equipoA}}" >
				{% for equipo in equipos %}
					<option >{{equipo.name}}</option>
				{% endfor %}
				</select>
	 			<br>	
	 			<label for="equipoB">Equipo B: </label>
				<select class="form-control" type="text" name="equipoB" id="equipoA" value="{{equipoB}}" >
				{% for equipo in equipos %}
					<option >{{equipo.name}}</option>
				{% endfor %}
				</select>
	 			<br>
				<label for="edpos">Estado: </label>
				<select class="form-control" type="text" name="estado" id="edpos" value="{{estado}}" >
					<option>pendiente</option>
				</select>
				<br>				
				<input type="submit" class="btn my-btn" value="guardar"/>
			</form>
		</div>



	</div>
</div>

</body>
</html>